@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f9fafb; /* Light gray background for eCommerce feel */
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

/* Custom Scrollbar for a premium look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #10b981; /* Green-500 matching M-Pesa theme */
  border-radius: 10px;
}